body
  margin 30px 40px
  font-size 140%
  line-height 1.3

h1
  small
    font-size 60%

#experiment
  position relative

  canvas
    position absolute
    //background-color grey
    width 500px

  #grid
    height 500px
    top 0

  #fitness-graph
    height 200px
    top 520px

  #container
    margin-left 540px
    max-width 500px